<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于我们</title>
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/mb1.css"/>
<link rel="stylesheet" href="../css/styles.css"> 
<script src="../js/modernizr.js"></script>
</head>

<body>
<header>
		<a id="cd-logo" href="#0"><img src="../images/logo.png" style="width:50px;height:50px"/></a>
		<nav id="cd-top-nav">
		</nav>
		<a id="cd-menu-trigger" href="#0"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
</header>
	<main class="cd-main-content">
<div class="about">
		<div class="left">
<div class="ours" style="color:#fff">
<h1 style="text-align:center">关于我们</h1>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本小组有4个成员，分别是吴洁灿、张茹、胡富雨、周健芳。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系邮箱：1312136954@qq.com</p>
</div>
</div>
<div class="bottom">
<div class="footer_l"><a href="index.html" target="_blank">首页</a> | <a href="index.html">网站地图</a>| <a target="_blank" href="about.html">关于我们</a> | <a target="_blank" href="about.html">联系我们</a></div>
<div class="footer_r">法律条款 | 责任和权力 | &copy; 2019 WHZZTEAM<br />
</div>
</div>
</div><!-- put your content here -->

	</main> <!-- cd-main-content -->

<nav id="cd-lateral-nav">
		<ul class="cd-navigation">
			<li class="item-has-children">
				<a href="#0">Index</a>
				<ul class="sub-menu">
					<li><a href="../index.html"><img src="../images/index.jpg" style="width:200px;height:150px;"/></a></li>
				</ul>
			</li>
		</ul> <!-- cd-navigation -->

		<ul class="cd-navigation cd-single-item-wrapper">
			<li><a href="about.html">关于我们：<img src="../images/about.jpg" style="width:200px;height:150px;"/></a></li>
			<li><a href="blacktechnology.html">黑科技产品：<img src="../images/blacktechnology.jpg" style="width:200px;height:150px;"/></a></li>
			<li><a href="future.html">发展前景：<img src="../images/future.jpg" style="width:200px;height:150px;"/></a></li>
			<li><a href="jianjie.html">相关简介：<img src="../images/jianjie.jpg" style="width:200px;height:150px;"/></a></li>
		</ul> <!-- cd-single-item-wrapper -->

		<ul class="cd-navigation cd-single-item-wrapper">
			<li><a class="current" href="kexuejia.html">科学家们：<img src="../images/kexuejia.jpg" style="width:200px;height:150px;"/></a></li>
			<li><a href="production.html">科技产品：<img src="../images/production.jpg" style="width:200px;height:150px;"/></a></li>
			<li><a href="xiaofaming.html">小小发明：<img src="../images/xiaofaming.jpg" style="width:200px;height:150px;"/></a></li>
			<li><a href="zhumingrw.html">著名人物:<img src="../images/zhumingrw.jpg" style="width:200px;height:150px;"/></a></li>
		</ul> 
	</nav>
<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/main.js"></script>  
</div>
</body>
</html>
