<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>黑科技产品</title>
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/mb1.css"/>
<link rel="stylesheet" href="../css/styles.css"> 
<script src="../js/modernizr.js"></script>
<style>
*{ margin:0; padding:0; list-style:none;}
img{ border:0;}

#lanrenzhijia{ height:auto; width:820px;margin:0px auto; overflow:hidden;}
#lanrenzhijia ul li{ width:396px; height:210px; overflow:hidden; float:left; margin:0px 5px 5px 5px; position:relative;}
#lanrenzhijia ul li .text{ width:100%; height:0; overflow:hidden; position:absolute; left:0; bottom:0; background:url(http://demo.lanrenzhijia.com/2014/pic1222/images/dot.png) repeat; font-size:12px; color:#fff;}
#lanrenzhijia ul li .text p{text-align:left; color:#fff; line-height:180%; padding:5px 10px; clear:both}
#lanrenzhijia ul li .text b{ display:block; padding:5px 10px; display:block; float:left; background:#333; margin-bottom:5px;}
</style>
</head>

<body>
<header>
		<a id="cd-logo" href="#0"><img src="../images/logo.png" style="width:50px;height:50px"/></a>
		<nav id="cd-top-nav">
		</nav>
		<a id="cd-menu-trigger" href="#0"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
</header>
	<main class="cd-main-content">
<div class="black">
<div class="left">
<div id="lanrenzhijia">
	<ul>
    	<li>
        	<a href="#"><img src="../images/记忆金属鼠标.webp.jpg" width="400" height="210"  /></a>
        	<div class="text">
            <b>记忆金属鼠标</b>
            <p>这个厚度只有 43 毫米的鼠标采用的是一种叫做记忆金属的新型材料，这种材料的最大特点就是弯曲度大，且不易变形。这个记忆金属魔术鼠标不同于一般鼠标，它的形状是一个弧度，底部采用蓝影追踪技术，同样是一种新型技术，比较光电鼠标更加精确与敏捷。此外，鼠标上的多点触控技术代替了滑轮，使用起来更加简单方便。</p></div>    
        </li>
        <li>
        	<a href="#"><img src="../images/粘土凳子.webp.jpg"  width="400"  height="210"/></a>
        	<div class="text">
            <b>粘土凳子</b>
            <p>其实这不是新材料，而是非常古老的材料粘土，很久之前，我们的祖先就利用粘土制作各种物品。粘土凳子创新的是将古老的材料和现代的工艺相结合，创造出了一款个性的凳子。这不仅是凳子，更是一种文化的代表。</p></div>    
        </li>
        <li>
        	<a href="#"><img src="../images/小巧路由器.jpeg" width="400" height="210"  /></a>
        	<div class="text">
            <b>小巧路由器</b>
            <p>小巧又实用。互联网现在是生活的必须品，如果没有互联网很难想象,wifi现在遍地都是，但是出差的时候难免遇到一些差一点的酒店，还是不会提供wifi的，或者是wifi特别慢，只能使用网线。这款轻松携带再也不用到处找网啦！</p></div>    
        </li>
        <li>
        	<a href="#"><img src="../images/蓝牙音箱.jpeg" width="400" height="210"  /></a>
        	<div class="text">
            <b>蓝牙音箱</b>
            <p>不管是喜欢听歌的你们还是在户外的你们，都需要为自己准备一个。时尚爱音乐的人很注重音质的效果，这款无线蓝牙音箱，迷你的外观下体内拥有大能量。音质发声自然清澈，让声音穿透你的耳蜗到你大脑，一体式无缝腔体切割创新了重低音的瓶颈地带。</p></div>    
        </li>
       
        <li>
        	<a href="#"><img src="../images/充电宝.jpeg"  width="400"  height="210"/></a>
        	<div class="text">
            <b>充电宝</b>
            <p>这款20000毫安移动电源很实用，不用担心电没充饱也不用担心没带数据线。只要有光，就有电的充电品质，快速把光能转换为难能。你会不会很感叹科技的力量啊。除了超强的品质外，这款充电宝还具有智能降温功能。科技与时尚结合让生活变得更美丽。</p></div>    
        </li>
        
        <li>
        	<a href="#"><img src="../images/报警器.jpeg" width="400" height="210"  /></a>
        	<div class="text">
            <b>报警器</b>
            <p>还在担心晚上有小偷吗？还在担心孩子一个人在家不安全吗？父母忠告外出的孩子，出门在外，安全第一，儿行千里母担忧。可社会上总有那些好吃懒、思想极端不安分的人，做着伤害他人的事。酒店旅馆用门阻防盗报警器，底部防滑，方便便捷，只需放在门口，若有行为败坏的份子，它就可以帮助你啦！p></div>    
        </li>
    </ul>
</div>
</div>
<div class="bottom">
<div class="footer_l"><a href="index.html" target="_blank">首页</a> | <a href="index.html">网站地图</a>| <a target="_blank" href="about.html">关于我们</a> | <a target="_blank" href="about.html">联系我们</a></div>
<div class="footer_r">法律条款 | 责任和权力 | &copy; 2019 WHZZTEAM<br />
</div>
</div>
</div>
</div>
	</main> <!-- cd-main-content -->

<nav id="cd-lateral-nav">
		<ul class="cd-navigation">
			<li class="item-has-children">
				<a href="#0">Index</a>
				<ul class="sub-menu">
					<li><a href="../index.html"><img src="../images/index.jpg" style="width:200px;height:150px;"/></a></li>
				</ul>
			</li>
		</ul> <!-- cd-navigation -->

		<ul class="cd-navigation cd-single-item-wrapper">
			<li><a href="about.html">关于我们：<img src="../images/about.jpg" style="width:200px;height:150px;"/></a></li>
			<li><a href="blacktechnology.html">黑科技产品：<img src="../images/blacktechnology.jpg" style="width:200px;height:150px;"/></a></li>
			<li><a href="future.html">发展前景：<img src="../images/future.jpg" style="width:200px;height:150px;"/></a></li>
			<li><a href="jianjie.html">相关简介：<img src="../images/jianjie.jpg" style="width:200px;height:150px;"/></a></li>
		</ul> <!-- cd-single-item-wrapper -->

		<ul class="cd-navigation cd-single-item-wrapper">
			<li><a class="current" href="kexuejia.html">科学家们：<img src="../images/kexuejia.jpg" style="width:200px;height:150px;"/></a></li>
			<li><a href="production.html">科技产品：<img src="../images/production.jpg" style="width:200px;height:150px;"/></a></li>
			<li><a href="xiaofaming.html">小小发明：<img src="../images/xiaofaming.jpg" style="width:200px;height:150px;"/></a></li>
			<li><a href="zhumingrw.html">著名人物:<img src="../images/zhumingrw.jpg" style="width:200px;height:150px;"/></a></li>
		</ul> 
	</nav>
<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/main.js"></script>  
</div>

<script src="http://www.lanrenzhijia.com/ajaxjs/jquery.min.js"></script>
<script>
$(function(){
	$('#lanrenzhijia li').hover(function(){
		$('.text',this).stop().animate({
			height:'165px'
		});
	},function(){
		$('.text',this).stop().animate({
			height:'0'
		});
	});
});
</script>
<!-- 代码部分end -->
</body>
</html>
