<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>发展前景</title>
<link rel="stylesheet" href="../css/daohang.css"/>
 <link rel="stylesheet" href="../css/mb1.css"/>
<link rel="stylesheet" type="text/css" href="../css/lanrenzhijia.css">
<link rel="stylesheet" type="text/css" href="../css/lrzj.css">

<script type="text/javascript" src="../js/jquery-1.3.2.js"></script>
<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../js/jquery.hrzAccordion.js"></script>
<script type="text/javascript" src="../js/jquery.hrzAccordion.examples.js"></script>
</head>

<body>
 <div class="future">
 <div class="head">
<div class="menuHolder">
	<div class="menuWindow">
		<ul class="p1">
			<li class="s1"><a href="#"><img src="images/daohang.png" style="width:50px;height:50px;"/></a>
				<ul class="p2">
					<li class="s2"><a href="../index.html"><span>首页</span></a></li>
					<li class="s2"><a href="jianjie.html"><span>简介</span></a>
					</li>
					<li class="s2"><a href="#"><span>人物</span></a>
						<ul class="p3 a3">
							<li><a href="zhumingrw.html">著名人物</a></li>
							<li><a href="kexuejia.html">科学家</a></li>
						</ul>
					</li>
					<li class="s2"><a href="#"><span>产品</span></a>
						<ul class="p3 a3">
							<li><a href="production.html">科技产品</a></li>
							<li><a href="blacktechnology.html">黑科技产品</a></li>
							<li><a href="xiaofaming.html">小发明</a></li>
						</ul>
					</li>
					<li class="s2"><a href="future.html"><span>发展前景</span></a>
					</li>
					<li class="s2 b6"><a href="about.html"><span>关于我们</span></a>
						<ul class="p3 a5">
							<li><a href="#">周健芳</a></li>
							<li><a href="#">胡富雨</a></li>
							<li><a href="#">吴洁灿</a></li>
							<li><a href="#">张茹</a></li>
							<li><a href="#">我们这一组</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</div>
<div class="left">
  <div class="top">
    <p style="border-style:dotted;color:#fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“欢迎乘坐‘未来号’无人驾驶电动巴士，车辆起步，请抓稳扶好！”  “晚间回家，指纹锁轻松开门，全屋灯会自动开启。”......站在当前的科技大爆发的时间节点，我们展望未来的科技，拥有无限的可能。未来新科技的方向是多元化且具有重大变化的。小到纳米级机器人，大到4D打印创新工厂，新科技将渗透到我们生活的方方面面，人工智能等未来科技将深刻影响到我们生活的每个角落。畅想一下我们未来的科技生活......</p>
  </div>
  <ul class="test">
    <li><div class="handle"><img src='../images/title1.png'></div><img src='../images/超级高铁2.jpg' align='left' width="380" height="220">
      <h3>超级高铁</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2013年，Elon Musk提出超级高铁计划，他认为超级高铁可以以1200公里的超高时速远距离运送乘客，也即是说，从北京到上海只需要1个小时就够了。2004年12月29日，一场有8名“两院”(中国科学院、中国工程院)院士参与、多名国内权威专家出席的研讨会召开。众多学界权威参与此次会议的主要议题是——真空管道高速交通。
  </p>
      </li>
    <li><div class="handle"><img src='../images/title2.png'></div><img src='../images/太空飞机3.jpg' align='left' width="380" height="220">
      <h3>太空飞机</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;太空飞机将像火箭一样垂直起飞，并自动在跑道上着陆，不需任何地面或机载设备的干预。中国机构正在研制巨型太空飞机。这架飞机最多可搭载20名游客，并在一天之内飞抵太空边缘。设计团队希望太空飞机可被反复使用，因此每架飞机的设计飞行次数将达到50次。</p>
      </li>
    <li><div class="handle"><img src='../images/title3.png'></div><img src='../images/自动驾驶汽车1.jpg' align='left' width="380" height="220">
      <h3>自动驾驶汽车</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自动驾驶汽车(Autonomous vehicles;Self-piloting automobile )又称无人驾驶汽车、电脑驾驶汽车、或轮式移动机器人，是一种通过电脑系统实现无人驾驶的智能汽车。自动驾驶汽车的交通事故发生率几乎可以下降至零，自动驾驶汽车的行驶模式可以更加节能高效，因此交通拥堵及对空气的污染将得以减弱。</p>
      </li>
    <li><div class="handle"><img src='../images/title4.png'></div><img src='../images/飞行汽车.jpg' align='left' width="380" height="220">
      <h3>飞行汽车</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;飞行汽车，在空中飞行或在陆地上行驶，从一辆公路汽车变身为一架飞机。 世界首辆飞行汽车2009年3月初在美国实现了首飞，降落后只需按一个按钮就可将机翼折叠，驶上高速公路。</p>
      </li>
  </ul>
  
  <div style="clear:both;"></div>
  <ul class="test4">
    <li><div class="handle">1</div><img src='../images/VR头盔2.jpg' align='left' width="380" height="220">
      <h3>VR头盔</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VR（虚拟现实）有潜力成为十年来最重要的产品之一，VR头盔将深入生活的方方面面。戴着虚拟现实头盔，你可以游览世界各地，不需要花任何费用。VR可以让你玩游戏、冒险探索，甚至可以体验小说里的情节。</p>
      </li>
    <li><div class="handle">2</div><img src='../images/增强现实技术.webp' align='left' width="380" height="220">
      <h3>增强现实技术</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果你认为VR（虚拟现实）已经是很酷、很高科技了，那么“增强现实”这项技术则更为酷炫。你想象一下，当你抬头看摩天大楼的时候甚至能够看到虚拟现实世界中的真实对象，你会看到一个巨大的大猩猩倒挂在那，场面无比的逼真、震撼。当然，目前，我们还做不到这一点。</p>
      </li>
    <li><div class="handle">3</div><img src='../images/全屋配置设备.jpg' align='left' width="380" height="220">
      <h3>全屋配置设备</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全屋配置中央空调、地暖、新风系统等等，可智能监测室内温度、湿度和空气质量，并根据环境自动调节，始终让家人处于舒适的环境中，呵护家人健康；一个指令，自由设置家庭应用场景，灯光、电器、背景音乐等室内环境到最适宜状态，远程操控不再是幻想；</p>
      </li>
    <li><div class="handle">4</div><img src='../images/口碑未来智能餐厅.gif' align='left' width="380" height="220">
      <h3>口碑未来智能餐厅</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一张大尺寸的触屏餐桌，能实现自助点餐、个性化推荐、餐前游戏等多种功能同时在内，这是马云打造的未来智能餐厅。顾客落座后，系统将自动识别其身份；轻触桌面，即可打开智能点餐界面进行点餐，上菜时还可以看到AR互动效果；用餐结束后可直接离店，系统运用支付宝账户即会自动完成扣款。</p>
      </li> 
  </ul>
</div>

<div class="bottom">
<div class="footer_l"><a href="index.html" target="_blank">首页</a> | <a href="index.html">网站地图</a>| <a target="_blank" href="about.html">关于我们</a> | <a target="_blank" href="about.html">联系我们</a></div>
<div class="footer_r">法律条款 | 责任和权力 | &copy; 2019 WHZZTEAM<br />
</div>
</div>
</div>

</body>
</html>
