<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>科学家</title>
<link rel="stylesheet" href="../css/swiper.min.css">
<link rel="stylesheet" href="../css/demo.css">
<link rel="stylesheet" href="../css/daohang.css"/>
<link rel="stylesheet" href="../css/mb1.css"/>
<script src="../js/jquery1.min.js"></script>
<script src="../js/swiper.min.js"></script>
</head>

<body>
<div class="kexuejia">
<div class="head">
<div class="menuHolder">
	<div class="menuWindow">
		<ul class="p1">
			<li class="s1"><a href="#"><img src="../images/daohang.png" style="width:50px;height:50px;"/></a>
				<ul class="p2">
					<li class="s2"><a href="../index.html"><span>首页</span></a></li>
					<li class="s2"><a href="jianjie.html"><span>简介</span></a>
					</li>
					<li class="s2"><a href="#"><span>人物</span></a>
						<ul class="p3 a3">
							<li><a href="zhumingrw.html">著名人物</a></li>
							<li><a href="kexuejia.html">科学家</a></li>
						</ul>
					</li>
					<li class="s2"><a href="#"><span>产品</span></a>
						<ul class="p3 a3">
							<li><a href="production.html">科技产品</a></li>
							<li><a href="blacktechnology.html">黑科技产品</a></li>
							<li><a href="xiaofaming.html">小发明</a></li>
						</ul>
					</li>
					<li class="s2"><a href="future.html"><span>发展前景</span></a>
					</li>
					<li class="s2 b6"><a href="about.html"><span>关于我们</span></a>
						<ul class="p3 a5">
							<li><a href="#">周健芳</a></li>
							<li><a href="#">胡富雨</a></li>
							<li><a href="#">吴洁灿</a></li>
							<li><a href="#">张茹</a></li>
							<li><a href="#">我们这一组</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</div>
<div class="left">
<div id="certify" class="sect10">
    <div class="container container-carousel">
        <div class="community-carousel">
            <div id="caseBlanche">
                <div id="rond">
                    <div id="test"></div>
                </div>
            </div>
            <div id="caseBlanche1">
                <div id="rond1">
                    <div id="test1"></div>
                </div>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper js_animeSwiper">

                    <div class="swiper-slide">
                        <div class="slide-holder">
                            <div class="ava">
                                <img src="../images/b1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="author-wrap">
                                <span class="name">钱学森</span>
                                <span class="role">著名科学家、物理学家</span>
                            </div>
                            <blockquote>我国近代力学事业的奠基人之一、<br />科学领域做出许多开创性贡献。<br>在空气动力学、航空工程、喷气推进、<br>工程控制论、物理力学等技术<br>科学领域做出许多开创性贡献。</blockquote>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slide-holder">
                            <div class="ava">
                                <img src="../images/b2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="author-wrap">
                                <span class="name">屠呦呦</span>
                                <span class="role">诺贝尔医学奖获得者、药学家</span>
                            </div>
                            <blockquote>创制抗疟药-青蒿素和双氢青蒿素始人。<br>拉斯克临床医学奖(2011年9月) 
葛兰素史克中国<br>研发中心"生命科学杰出成就奖"(2011年) <br>诺贝尔医学奖(2015年10月)</blockquote>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slide-holder">
                            <div class="ava">
                                 <img src="../images/b3.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="author-wrap">
                                <span class="name">袁隆平</span>
                                <span class="role">首届国家最高科学技术奖得主、杂交水稻之父</span>
                            </div>
                            <blockquote>袁隆平致力于杂交水稻研究，发明“三系法”籼型<br>杂交水稻，成功研究出“二系法”杂交水稻，<br>创建了超级杂交稻<br>技术体系，使我国杂交水稻研究始终居世<br>界领先水平。荣获国家最高科学技术奖、国家科学<br>技术进步奖特等奖等多项荣誉。</blockquote>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slide-holder">
                            <div class="ava">
                               <img src="../images/b4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="author-wrap">
                                <span class="name">段路明</span>
                                <span class="role">美国密歇根大学费米讲席教授、清华大学姚期智讲座教授</span>
                            </div>
                            <blockquote>主要从事量子信息、量子光学和冷原子物理方面的<br>研究，提出用于实现长距离量子通信的<br>“DLCZ（Duan-Lukin-Cirac-Zoller）量子中继<br>方案，引发了世界上多个研究组的<br>实验研究热潮博士毕业时获“中科院院长特别奖” <br>博士论文入选“全国百篇优秀博士论文”</blockquote>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-holder">
                            <div class="ava">
                                <img src="../images/b5.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="author-wrap">
                                <span class="name">南仁东</span>
                                <span class="role">中国天文学家、中国科学院国家天文台研究员</span>
                            </div>
                            <blockquote>500米口径球面射电望远镜（FAST）负责人<br /> 
获中国科学院华为奖教金 
<br />获“2016中国科学年度新闻人物” 
<br />获“CCTV2016年度科技创新人物” 
<br />获得全国创新争先奖 
。</blockquote>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-btn-next"></div>
            <div class="swiper-btn-prev"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // community-carousel
    if ( $( ".community-carousel" ).length ) {
        var swiperVideo = new Swiper('.community-carousel .swiper-container', {
            navigation: {
                nextEl: '.community-carousel .swiper-btn-next',
                prevEl: '.community-carousel .swiper-btn-prev',
            },
            loopAdditionalSlides:3,

            effect: 'slide',
            grabCursor: true,
            paginationClickable:true,
            centeredSlides: true,

            loop:true,
            autoplay: true,
            slidesPerView: "auto",
            initialSlide:1,
            keyboardControl:true,
            slideToClickedSlide:true,
            preventClicks:false,
            speed:800,
            followFinger:false,
            onInit: function(swiper){

            },
        });
    }
</script>
</div>
<div class="bottom">
<div class="footer_l"><a href="index.html" target="_blank">首页</a> | <a href="index.html">网站地图</a>| <a target="_blank" href="about.html">关于我们</a> | <a target="_blank" href="about.html">联系我们</a></div>
<div class="footer_r">法律条款 | 责任和权力 | &copy; 2019 WHZZTEAM<br />
</div>
</div>
</div>

</body>
</html>
