<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>小发明</title>

<link type="text/css" rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/daohang.css"/>
<link rel="stylesheet" href="../css/mb1.css"/>

</head>
<body>
<div class="menuHolder">
	<div class="menuWindow">
		<ul class="p1">
			<li class="s1"><a href="#"><img src="images/daohang.png" style="width:50px;height:50px;"/></a>
				<ul class="p2">
					<li class="s2"><a href="../index.html"><span>首页</span></a></li>
					<li class="s2"><a href="jianjie.html"><span>简介</span></a>
						<ul class="p3 a3">
							<li><a href="#">科技</a></li>
							<li><a href="#">黑科技</a></li>
						</ul>
					</li>
					<li class="s2"><a href="#"><span>人物</span></a>
						<ul class="p3 a3">
							<li><a href="kexuejia.html">科学家</a></li>
							<li><a href="zhumingrw.html">著名人物</a></li>
						</ul>
					</li>
					<li class="s2"><a href="#"><span>产品</span></a>
						<ul class="p3 a3">
							<li><a href="production.html">科技产品</a></li>
							<li><a href="blacktechnology.html">黑科技产品</a></li>
							<li><a href="xiaofaming.html">小发明</a></li>
						</ul>
					</li>
					<li class="s2"><a href="future.html"><span>发展前景</span></a>
					</li>
					<li class="s2 b6"><a href="about.html"><span>关于我们</span></a>
						<ul class="p3 a5">
							<li><a href="#">周健芳</a></li>
							<li><a href="#">胡富雨</a></li>
							<li><a href="#">吴洁灿</a></li>
							<li><a href="#">张茹</a></li>
							<li><a href="#">我们这一组</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="background-lyrics">
  　制出将来之少年中国者,则中国少年之责任也.故今日之责任,不在他人,而全在我少年.少年智则国智,少年富则国富,少年强则国强,少年独立则国独立,少年自由则国自由,少年进步则国进步,少年胜于欧洲则国胜于欧洲,少年雄于地球则国雄于地球.红日初升,其道大光；河出伏流,一泻汪洋；潜龙腾渊,鳞爪飞扬；乳虎啸谷,百兽震惶；鹰隼试翼,风尘翕张；奇花初胎,矞矞皇皇；干将发硎,有作其芒；天戴其苍,地履其黄；纵有千古,横有八荒,前途似海,来日方长.美哉我少年中国,与天不老；壮哉我中国少年,与国无疆!制出将来之少年中国者,则中国少年之责任也.故今日之责任,不在他人,而全在我少年.少年智则国智,少年富则国富,少年强则国强,少年独立则国独立,少年自由则国自由,少年进步则国进步,少年胜于欧洲则国胜于欧洲,少年雄于地球则国雄于地球.红日初升,其道大光；河出伏流,一泻汪洋；潜龙腾渊,鳞爪飞扬；乳虎啸谷,百兽震惶；鹰隼试翼,风尘翕张；奇花初胎,矞矞皇皇；干将发硎,有作其芒；天戴其苍,地履其黄；纵有千古,横有八荒,前途似海,来日方长.美哉我少年中国,与天不老,与国无疆
</div>

<div class="container-master">
  <div class="container-tile">
    <h1>玩转小发明</h1>
    <div class="content">
      <div class="floaty tile">
        <h3 class="title">磁铁上旋转<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;の<br>&nbsp;&nbsp;&nbsp;小风车</h3>
        <div class="lines"> </div>
        <ul>
          <li>一、先在硬纸板上按照下图画线，然后沿杯子边缘向上用剪刀剪开。然后想斜上方把每一片扇页折一下。
          <br><br><a ><img src="../images/13.png"  /></a>
          </li>
          <li>二、杯子中间打孔，中间装上转轴和磁铁。另外几块磁铁固定在一个塑料木柄上，当然你也可以利用其它 的工具。最后把它们组装在一起。图片中是利用双面胶固定的。
           <br><br><a ><img src="../images/14.png"  /></a>
            <br><a ><img src="../images/15.png"  /></a>
           </li>
          <li>三、把制作完成后的小风车放在吊扇下面，你就可以看到小风车做行星运动了。用嘴吹也可以正常转动！
          <br><br><a ><img src="../images/16.png"  /></a>
          </li>
          <li>四、这样一个简单的科学小制作就完成了
           <br><br><a ><img src="../images/17.png"  /></a>
          </li>
        </ul>
      </div>
      <div class="floaty tile">
        <h3 class="title">&nbsp;&nbsp;自制简易<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;の<br>&nbsp;&nbsp;&nbsp;小台灯</h3>
        <div class="lines"> </div>
        <ul>
          <li>前期准备的材料：易拉罐、铁丝衣架、带插头的灯座、灯泡、钳子、剪刀、小刀、螺丝刀、绝缘胶带和记号笔等。
          <br><br><a ><img src="../images/bg18.jpg"  /></a>
          </li>
          <li>一、先小心把易拉罐的瓶口切割掉，戴上手套哦!
          <br><br><a ><img src="../images/bg19.jpg"  /></a>
          </li>
          <li>二、再把侧面剪去一部分，可以让光从这里照射出来。把易拉罐底部挖孔，装入灯座后再安装上灯泡。
          <br><br><a ><img src="../images/bg20.jpg"  /></a>
          </li>
          <li>三、把衣架折弯，这样就可以立在桌面上了哈。
          <br><br><a ><img src="../images/bg21.jpg"  /></a>
          </li>
          <li>四、把易拉罐安装到衣架上，这样就完成了台灯的制作啦~
          <br><br><a ><img src="../images/bg22.jpg"  /></a>
          </li>
          <li>五、看看有没有裸露的电线，再用绝缘胶带包起来，打开开关看效果吧\(^o^)/~
          <br><br><a ><img src="../images/bg23.jpg"  /></a>
          </li>
        </ul>
      </div>
      <div class="floaty tile">
        <h3 class="title">&nbsp;&nbsp;易拉制作<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;の<br>&nbsp;信号放大器</h3>
        <div class="lines"> </div>
        <ul>
          <li>一、首先，找一个废弃易拉罐，按下图所示把易拉罐的底部割下。
          <br><br><a ><img src="../images/bg25.jpg"  /></a>
          </li>
          <li>二、易拉罐的上口也要剪开，但白线标识的地方不要剪断。
          <br><br><a ><img src="../images/bg26.jpg"  /></a>
          </li>
          <li>三、沿着与白线正对的另一面，画一条线，然后从底部沿线剪开
          <br><br><a ><img src="../images/bg27.jpg"  /></a>
          </li>
          <li>四、把易拉罐展开，让无线路由器天线从易拉罐拉环口处穿过，形成一个反射面，调整反射面方向，使其正对着手机、笔记本等终端就可以实现信号放大了。
          <br><br><a ><img src="../images/bg24.jpg"  /></a>
          </li>
        </ul>
      </div>
      <div class="floaty tile">
        <h3 class="title">&nbsp;&nbsp;&nbsp;&nbsp;空中旋转<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;の<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;飞机</h3>
        <div class="lines"> </div>
        <ul>
          <li>供参考的图纸，我们就是要做一个这样的飞机。
          <br><br><a ><img src="../images/bg28.jpg"   /></a>
          </li>
          <li>前期准备材料有：玩具马达、螺旋桨、9伏电池、9伏电池连接器、滑动开关、电线、2个钩子、绳子、刻刀、热胶枪、烙铁和焊料、胶带、颜料和刷子
          <br><br><a ><img src="../images/bg29.jpg"   /></a>
          </li>
          <li>一、打印模板，并剪下飞机的各个部分。将模板放到纸板上，沿着边描绘。然后用刻刀切出。模板下载地址看这里【<a href="https://www.shouyihuo.com/uploads/soft/190219/shouyihuo.com-plane-template.rar">飞机图纸</a>】。
          <br><br><a ><img src="../images/bg30.jpg"   /></a>
          </li>
          <li>二、在切割硬纸板之后，我们将要给它们上色。如图的经典色供大家参考。
          <br><br><a ><img src="../images/bg31.jpg"   /></a>
          </li>
          <li>三、用喷漆做出基本色，并用丙烯颜料画出其余的细节。
          <br><br><a ><img src="../images/bg32.jpg"   /></a>
          </li>
          <li>四、将约3英寸红色电线焊接到电机右侧端子和滑动开关上的中间。如果您不确定电机上的哪个端子可以使用，只需添加电源并检查它旋转的方向。确保它与您的螺旋桨相对应。
切断电池连接器上的电线，留大约1/2英寸就可以了。将正极电线焊接到开关上，将负极电线焊接到约2.5英寸的黑色电线上。将电池连接在两根电线之间。切掉多余的黑线，并将剩余的一端焊接到电机上。
          <br><br><a ><img src="../images/bg33.jpg"   /></a>
          </li>
          <li>五、现在我们可以将马达和电池粘在机身上!放置组件，使电机突出超过机身前部1/4英寸。这是为纸板发动机留出空间。一旦您对所有位置的位置感到满意，请将电机、电池和开关用热熔胶粘到机身内部。将电线粘到电池两侧。
          <br><br><a ><img src="../images/bg34.jpg"   /></a>
          </li>
          <li>六、以与第一个相同的方式胶合第二个机身部件。确保为发动机和尾部留出空间。将两侧向内折叠到电池后面以形成锥形。将机身尾端粘在一起。
          <br><br><a ><img src="../images/bg35.jpg"   /></a>
          </li>
          <li>七、将尾翼滑入插槽中。一旦到位，在与机身连接的区域涂上一层胶水。用废纸片擦去多余的胶水。底部机翼上的​​胶水距离车轮后部大约3/4英寸。
          <br><br><a ><img src="../images/bg36.jpg"   /></a>
          </li>
          <li>八、将机翼末端1.5英寸处的大翼支柱和刚好位于驾驶舱前方的较小翼支柱胶合。
          <br><br><a ><img src="../images/bg37.jpg"   /></a>
          </li>
          <li>九、在每个机翼支柱的顶部涂上胶水并连接机翼。
          <br><br><a ><img src="../images/bg38.jpg"   /></a>
          </li>
          <li>十、通过翼尖抬起飞机，找到飞机的重心，并调整手指直到找到平衡点。沿此线拧入一个钩子。飞机的性能在很大程度上取决于弦的长度，发现16英寸效果最好。可选，但强烈推荐：在绳子上添加钓鱼旋转接头。
          <br><br><a ><img src="../images/bg40.gif"   /></a>
          <li>十一、将挂钩拧在天花板上或任何想要展示飞机的地方。打开电机并进行小型圆形推动。可能需要几次尝试才能正确运动，以在一个圆圈中飞行。
          </li>
        </ul>
      </div>
      <div class="floaty tile">
        <h3 class="title">&nbsp;&nbsp;自制简易<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;の<br>&nbsp;全息投影仪</h3>
        <div class="lines"> </div>
        <ul>
          <li>前期准备材料：亚克历板 1块(可以到文具店问下，这里用的是制作标书时常用的透明封面)、瓦楞纸片 若干、黏合材料、平板电脑、全息投影源 若干(图片视频都可以)
          <br><br><a ><img src="../images/bg41.jpg"   /></a>
          </li>
          <li>一、根据放映设备确定亚克历板的大小，对8寸平板电脑，A4规格刚刚好满足需求。
          <br><br><a ><img src="../images/bg42.jpg"   /></a> 
          </li>
          <li>二、将A4大小的亚克历板绘出一正五边形，并划分5份等腰三角形，腰的长度约为10cm。
          <br><br><a ><img src="../images/bg43.jpg"   /></a> 
          </li>
          <li>三、裁掉其中一份等腰三角形，折出一个金字塔结构，边缘衔接处用胶水固定。亚克历板折叠前最好先用针状物刻一下。
          <br><br><a ><img src="../images/bg44.jpg"   /></a> 
          </li>
          <li>四、然后加上细节。
          <br><br><a ><img src="../images/bg45.jpg"   /></a> 
          </li>
          <li>五、用废纸盒做出一个架子，准备好平板电脑，之后就可以制作全息图源了。
          <br><br><a ><img src="../images/bg46.jpg"   /></a> 
          </li> 
          <li>六、图片格式一般是正四方形，将被投影物的四视图按上图般排列。
          <br><br><a ><img src="../images/bg47.jpg"   /></a>  
          </li>
          <li>七、像这样将平板电脑屏幕盖在金字塔顶部的架子上，调整好角度，利用干涉和衍射原理投影在塑料片上形成虚拟图像。
          <br><br><a ><img src="../images/bg48.jpg"   /></a> 
          </li> 
          <li>八、被投影对象不一定局限于四视图，人物、漫画、模玩神马都可以。
          <br><br><a ><img src="../images/bg49.jpg"   /></a>  
          </li> 
          <li>九、也可以将动画视频 全息投影出来。
          <br><br><a ><img src="../images/bg50.jpg"   /></a>  
          </li> 
        </ul>
      </div>
      <div class="floaty tile">
        <h3 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DIY<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;の<br>&nbsp;手机投影仪 </h3>
        <div class="lines"> </div>
        <ul>
          <li>前期准备材料：个鞋盒或其他包装纸盒、一个较小的放大镜、回形针、智能手机、小刀、胶带、黑色烤漆（可选）等材料
          <br><br><a ><img src="../images/bg51.JPG"   /></a>  
          </li>
          <li>一、找出你的盒子的中心，把你的放大镜放在中间，走线周围的镜头。
          <br><br><a ><img src="../images/bg52.JPG"   /></a>  
          </li>
          <li>二、切孔出来。
          <br><br><a ><img src="../images/bg53.JPG"   /></a>    
          </li>
          <li>三、调整镜头。
          <br><br><a ><img src="../images/bg54.JPG"   /></a>  
          </li>
          <li>四、大盘回落的放大镜，确保一切是密封的，没有光泄露英寸带下来的盒子任何松动的两侧
          <br><br><a ><img src="../images/bg55.JPG"   /></a>   
          </li>
          <li>五、通过滑动你的充电器连接线戳在包装盒背面的孔。
          <br><br><a ><img src="../images/bg56.JPG"   /></a>   
          </li>
          <li>六、用钳子塑造自己模型的支架。
          <br><br><a ><img src="../images/bg57.JPG"   /></a>   
          </li>
          <li>七、摆弄手机，同时把屏幕亮度调高。
          <br><br><a ><img src="../images/bg58.JPG"   /></a>   
          </li>
          <li>八、关闭对话框，找到一个空白的墙投影
          <br><br><a ><img src="../images/bg59.JPG"   /></a>   
          </li>
          <li>九、把手机上的立在框中，移动电话来回在框中找到聚集点。
          <br><br><a ><img src="../images/bg60.JPG"   /></a>   
          </li>
          </ul>
      </div>
      <div class="floaty tile">
        <h3 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DIY<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;の<br>&nbsp;电动玩具车</h3>
        <div class="lines"> </div>
        <ul>
          <li>前期准备材料：鼠标、热胶枪、9V电池、4个瓶盖、开关、牙签、黑色胶带和电线。
          </li>
          <li>一、取旧的鼠标并移除所有部件。
          <br><br><a ><img src="../images/bg61.jpg"/></a>
          </li>
          <li>二、取4个塑料瓶盖，使用拇指针在中心打孔。
          <br><br><a ><img src="../images/bg62.JPG"   /></a>  
          </li>
          <li>三、将直流电机插入2个瓶盖。
          <br><br><a ><img src="../images/bg63.JPG"   /></a>  
          </li>
          <li>四、使用热胶粘贴固定。
          <br><br><a ><img src="../images/bg64.JPG"   /></a>  
          </li>
          <li>五、如图所示，将电机粘贴到鼠标底部的后面。
          <br><br><a ><img src="../images/bg65.JPG"   /></a>  
          </li>
          <li>六、将电线连接到电机，如图将两个电机的相同极的电线拧在一起。
          <br><br><a ><img src="../images/bg66.JPG"   /></a>  
          </li>
          <li>七、把电线从鼠标底部穿到上面。
          <br><br><a ><img src="../images/bg67.JPG"   /></a>  
          </li>
          <li>八、在内部放置9V电池。
          <br><br><a ><img src="../images/bg68.JPG"   /></a>  
          </li>
          <li>九、把电池的一根电线和电机的一根电线相连。
          <br><br><a ><img src="../images/bg69.JPG"   /></a>  
          </li>
          <li>十、现在取出鼠标的盖子，并在其中放置一个ON / OFF开关。
          <br><br><a ><img src="../images/bg70.JPG"   /></a>  
          </li>
          <li>十一、将电池和电机剩余的两根电线和开关相连，再把盖子盖好。
          <br><br><a ><img src="../images/bg71.JPG"   /></a>  
          </li>
          <li>十二、现在取牙签并插入一个瓶盖。
          <br><br><a ><img src="../images/bg72.JPG"   /></a>  
          </li>
          <li>十三、如图所示，在两个瓶盖之间放一个吸管。
          <br><br><a ><img src="../images/bg73.JPG"   /></a>  
          </li>
          <li>十四、在底部前面涂抹热胶。
          <br><br><a ><img src="../images/bg74.JPG"   /></a>  
          </li>
          <li>十五、并放置前轮。
          <br><br><a ><img src="../images/bg75.JPG"   /></a>  
          </li>
          <li>十六、我们的鼠标车已经制作完成，打开开关就可以跑动起来啦~
          <br><br><a ><img src="../images/bg76.JPG"   /></a>  
          </li>
        </ul>
      </div>
      <div class="floaty tile">
        <h3 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DIY<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;の<br>&nbsp;飞行竹蜻蜓</h3>
        <div class="lines"> </div>
        <ul>
          <li>前期准备材料：剪刀、锤子、热融胶枪、烙铁、电钻、1/8“钻头、1“PVC管、1“PVC盖子、1“ - 3/4”带边沿的PVC管、厚壁的吸管、圆珠笔帽、雪糕棍、电工胶带、塑料螺旋桨、10,000RPM小马达、AA电池盒、2节AA电池、可选(未图示)：7/8“塑料垫圈
          <br><br><a ><img src="../images/bg77.jpg"  /></a> 
          </li>
          <li>一、将电线穿过带边沿的PVC管，并如图所示将马达安装在内部。在马达周边涂抹热融胶，使其粘附固定。确保马达转动轴指向正上方，并且没有胶水意外渗入马达内部。
          <br><br><a ><img src="../images/bg78.jpg"  /></a> 
          </li>
          <li>二、可选：将塑料垫圈粘在顶部以隐藏马达，这是一个纯粹的装饰功能。
          <br><br><a ><img src="../images/bg79.jpg"  /></a>  
          </li>
          <li>三、安装开关。如图所示，在PVC管的一侧钻一个比按钮宽的孔。把孔开在靠下一点的位置，确保不会影响到安装马达。
          <br><br><a ><img src="../images/bg80.jpg"  /></a> 
          </li>
          <li>四、从开关上取下螺母，然后将其从PVC管内部粘到孔中。
          <br><br><a ><img src="../images/bg8.jpg"  /></a>  
          </li>
          <li>五、将螺母拧回按钮上。
          <br><br><a ><img src="../images/bg81.jpg"  /></a>  
          </li>
          <li>六、将带马达的PVC管装入，你可能需要用锤子轻轻敲击，使其完全插入。确保不要碰到电机轴。
          <br><br><a ><img src="../images/bg82.jpg"  /></a>  
          </li>
          <li>七、焊接电路。将马达的黑色电线和电池组的红线焊接在一起。再焊接剩余的电线，用电工胶带包裹连接。
          <br><br><a ><img src="../images/bg83.jpg"  /></a>  
          </li>
          <li>八、将电池放入电池盒，然后测试电路。或者，你可以完全跳过焊接，而只需从电线末端剥离约1英寸并将它们拧在一起。
          <br><br><a ><img src="../images/bg84.jpg"  /></a>  
          </li>
          <li>九、将电池盒装入PVC管。
          <br><br><a ><img src="../images/bg85.jpg"  /></a>  
          </li>
          <li>十、盖上底部的盖子。
          <br><br><a ><img src="../images/bg86.jpg"  /></a>  
          </li>
          <li>十一、将胶带缠绕在PVC管和盖子之间，如果你需要更换电池，只需松开胶带即可。
          <br><br><a ><img src="../images/bg87.jpg"  /></a>  
          </li>
          <li>十二、安装螺旋桨支架。将圆珠笔的笔帽取下来，用热胶填充塑料尖端。
          <br><br><a ><img src="../images/bg88.jpg"  /></a>  
          </li>
          <li>十三、将电机轴插入塑料尖端，保持竖直。等待胶水干燥，然后测试。螺旋桨应以非常高的速度旋转，而几乎没有振动。这是最关键的一步。如果螺旋桨转动轴不是垂直的，那么它会摇晃，这也会导致螺旋桨摆动。
          <br><br><a ><img src="../images/bg89.jpg"  /></a>  
          </li>
          <li>十四、切一根约1/2英寸长的吸管，它应该比笔套内部的笔尖略长。在螺旋桨上放一滴热胶，然后连接吸管。
          <br><br><a ><img src="../images/bg90.jpg"  /></a>  
          </li>
          <li>十五、请确保吸管尽可能居中。
          <br><br><a ><img src="../images/bg91.jpg"  /></a> 
          </li>
          <li>十六、怎么飞? 将螺旋桨放在马达上，用雪糕棍轻轻按压螺旋桨顶部。打开马达并加速螺旋桨。
          <br><br><a ><img src="../images/bg92.jpg"  /></a>  
          </li>
          <li>十七、快速将雪糕棍拉出， 螺旋桨将弹到空中!
          <br><br><a ><img src="../images/bg93.jpg"  /></a>  
          </li>
        </ul>
      </div>
      <div class="floaty tile">
        <h3 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DIY<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;の<br>&nbsp;防盗报警器</h3>
        <div class="lines"> </div>
        <ul>
          <li>如果你是一个人住，总担心晚上的安全问题，也许可以自己动手做个开门报警器。制作过程不复杂，感兴趣就一起来看看怎么做的吧~
          <br><br><a ><img src="../images/bg95.jpg"  /></a>  
          </li>
          <li>一、首先，将两节电池以相反方向粘在夹子的两边。
         <br><br><a ><img src="../images/bg96.jpg"  /></a>  
          </li>
          <li>二、接着，给电池两极都焊上焊点。
          <br><br><a ><img src="../images/bg97.jpg"  /></a> 
          </li>
          <li>三、塑料夹子的两头钻孔，扭上螺丝钉。
          <br><br><a ><img src="../images/bg98.jpg"  /></a> 
          </li>
          <li>四、将一个报警用的蜂鸣器焊接到电池与螺丝钉之间。
          <br><br><a ><img src="../images/bg99.jpg"  /></a> 
          </li>
          <li>五、再用导线将其他部位连接起来。
          <br><br><a ><img src="../images/bg100.jpg"  /></a> 
          </li>
          <li>六、将报警器粘贴到门上，并把一个硬纸片绑上线，做为绊线粘贴到门另一边。
          <br><br><a ><img src="../images/bg101.jpg"  /></a> 
          </li>
          <li>七、这个防盗报警器制作完成，只要门被打开蜂鸣器就会发出声音，达到报警的效果。
          <br><br><a ><img src="../images/bg102.jpg"  /></a> 
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-lyrics">
    <div class="content">
      <div class="header">
        <a class="back"></a>
        <h4 class="lyrics-title"></h4></div>
      <div class="lyrics-wrapper"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src='../js/jquery.min.js'></script>
<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>
